
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(75, 7, 7, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: normal;
}

label {
    font-size: 14px;
    
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #455ca0;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a04e;
}

a {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #ff001e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}
